<body class="mdui-appbar-with-toolbar mdui-theme-primary-<?php echo $config['theme'];?> mdui-theme-accent-<?php echo $config['accent'];?>" id="top">
    <header class="mdui-appbar-fixed mdui-appbar mdui-color-white">
        <div class="mdui-color-white mdui-toolbar">
            <span style="border-radius: 100%" class="mdui-btn mdui-btn-icon mdui-ripple" mdui-drawer="{target: '#main-drawer', swipe: true}"><i class="mdui-icon material-icons">menu</i></span>
            <span class="mdui-typo-headline mdui-hidden-xs"><?php echo $config['title'];?></span>
            <span class="mdui-typo-title" id="subTitle"><?php echo $config['subtitle'];?></span>
            <div class="mdui-toolbar-spacer"></div>
            <button id="change_style" mdui-tooltip="{content: '夜间模式', position: 'bottom'}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">brightness_4</i></button>
           <button mdui-menu="{target: '#main-menu'}" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">more_vert</i></button>
            <ul class="mdui-menu" id="main-menu">
                <li class="mdui-menu-item" mdui-dialog="{target: '#login'}">
                    <a href="javascript:;" class="mdui-ripple">
                        <i class="mdui-menu-item-icon mdui-icon material-icons">person</i> 后台登录
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <div class="mc-drawer mdui-drawer mdui-drawer-close" id="main-drawer">
        <div class="mdui-card-media mdui-ripple mdui-ripple-white" style="border-radius: 0px">
            <img src="assets/images/background.png" style="height:170px;" />
            <div class="mdui-card-media-covered mdui-card-media-covered-gradient">
                <div class="mdui-card-primary" style="position:relative;">
                    <div class="mdui-typo-title mdui-text-color-white drawer-title-text">
                        <?php echo $config['title'];?>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-list">
            <a class="mdui-list-item mdui-ripple index" href="<?php echo $config['url'];?>">
                <i class="mdui-list-item-icon mdui-icon material-icons">home</i>
                <div class="mdui-list-item-content">首页</div>
            </a>
            <a class="mdui-list-item mdui-ripple about" href="?action=about">
                <i class="mdui-list-item-icon mdui-icon material-icons">info_outline</i>
                <div class="mdui-list-item-content">关于</div>
            </a>
            <a class="mdui-list-item mdui-ripple friendlinks" href="?action=friendlinks">
                <i class="mdui-list-item-icon mdui-icon material-icons">link</i>
                <div class="mdui-list-item-content">友情链接</div>
            </a>
        </div>
        <div class="copyright mdui-color-white mdui-p-x-2 mdui-p-y-1" style="position:absolute;bottom:0px;width:100%;font-size:13px;">
            <p>
                <?php if($config['copyright']){ echo $config['copyright'].'<br>';}?>
                <?php if($config['icp']){ echo $config['icp'].'<br>';}?> Powered by <a href="https://mdui.org" target="_blank">MDUI</a> &amp; <a href="https://mdclub.org" target="_blank">MDClub</a><br> 由Mufeng设计与编码❤️
                <!-- 留个版权谢谢🙏 -->
            </p>
        </div>
    </div>
    <div id="login" class="mc-user-edit mdui-dialog" style="height: 400px;">
        <div class="mdui-dialog-title mdui-color-indigo mdui-p-y-2">
            <button class="mdui-btn mdui-btn-icon" mdui-dialog-close><i class="mdui-icon material-icons">close</i></button> 后台登录
        </div>
        <div class="mdui-dialog-content mdui-p-a-2">
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">用户名</label>
                <input class="mdui-textfield-input" type="text" id="username" />
            </div>
            <div class="mdui-textfield mdui-textfield-floating-label">
                <label class="mdui-textfield-label">密码</label>
                <input class="mdui-textfield-input" type="password" id="password" />
            </div>
            <br>
            <button class="mdui-btn mdui-color-theme-accent mdui-btn-raised mdui-ripple mdui-float-right" id="submit">登录</button>
        </div>
    </div>
    <div class="mdui-dialog" id="loading">
        <div class="mdui-m-y-2 mdui-m-x-1">
            <center style="font-size:17px">加载中......</center>
            <br>
            <div class="mdui-progress">
                <div class="mdui-progress-indeterminate"></div>
            </div>
        </div>
    </div>