<!DOCTYPE html>
<html>
<head>
    <title>该站点未授权</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./assets/css/mdui.min.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>
    <style>
    	*{
    		margin: 0;
    	}
    	html, body{
    		min-height: 100vh;
    	}
    	body{
    		display: flex;
    		justify-content: center;
    		align-items: center;
    	}
    </style>
</head>
<body class="mdui-theme-accent-blue mdui-text-color-theme-text">
    <div class="mdui-container-fluid">
        <div class="mdui-text-center mdui-typo">
            <i class="mdui-icon material-icons mdui-text-color-red" style="font-size:70px;">error_outline</i>   
            <h1>该站点未授权，请联系作者<a class="mdui-text-color-theme-accent" href="mqq://card/show_pslcard?src_type=internet&source=sharecard&version=1&uin=2441260435" mdui-tooltip="{content:'QQ：2441260435'}">沐风</a>，去<a href="http://auth.muxiuge.cn:999/" target="_blank">查授权</a></h1>
            <p>请不要妄想任何破解授权的方法！</p>
        </div>
    </div>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/index.js"></script>
</body>
</html>