<html>
<head>
    <title>预备安装</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="install,安装,API管理系统" />
    <meta name="description" content="API管理系统安装页面" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./assets/css/mdui.min.css"/>
    <link rel="stylesheet" href="./assets/css/mdclub.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>
</head>
<body class="mdui-theme-primary-blue mdui-theme-accent-blue mdui-appbar-with-toolbar">

	<div class="mdui-appbar mdui-appbar-fixed">
  		<div class="mdui-toolbar mdui-color-white">
    		<a class="mdui-typo-headline">安装前须知</a>
    		<div class="mdui-toolbar-spacer"></div>
  		</div>
  		<div class="mdui-progress">
			<div class="mdui-progress-determinate" style="width: 0%;"></div>
		</div>
	</div>
	
    <div class="mdui-container mdui-p-x-2">
    	<div class="mdui-card mdui-m-y-2 mdui-typo">
    		<div class="mdui-card-primary">
    			<div class="mdui-card-primary-title">开始</div>
    		</div>
    		<div class="mdui-card-content">
    			<p>欢迎使用 MXGAPI管理系统，在开始前，我们需要您数据库的一些信息，请你准备好如下信息并为MXGAPI管理系统创建一个数据库：</p>
    			<ol>
    				<li>数据库名</li>
    				<li>数据库用户名</li>
    				<li>数据库密码</li>
    				<li>数据库地址</li>
    				<li>数据库端口</li>
    			</ol>
    			<p>这些信息应该由你的服务器商提供，如果准备好了的话，现在<strong>开始</strong>！</p>
    			<a class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-m-t-2" href="?action=install&step=1">现在开始</a>
    		</div>
    	</div>
	</div>


<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/vue.js"></script>
</body>
</html>