<html>
<head>
    <title>第三步 - 配置邮件信息</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="install,安装,API管理系统" />
    <meta name="description" content="API管理系统安装页面" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./assets/css/mdui.min.css"/>
    <link rel="stylesheet" href="./assets/css/mdclub.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>
</head>
<body class="mdui-theme-primary-blue mdui-theme-accent-blue mdui-appbar-with-toolbar">

	<div class="mdui-appbar mdui-appbar-fixed">
  		<div class="mdui-toolbar mdui-color-white">
    		<a href="javascript:;" class="mdui-typo-headline">第三步 - 配置邮件信息</a>
    		<div class="mdui-toolbar-spacer"></div>
  		</div>
  		<div class="mdui-progress">
			<div class="mdui-progress-determinate" style="width: 75%;"></div>
		</div>
	</div>
	
    <div class="mdui-container mdui-p-x-2">
    	<p>网站信息配置成功，接下来是需要填您的邮件信息，这非常重要，但是您仍然不必担心填错，以后可以再次修改并测试。</p>
    	<p>如果你不知道你的邮件信息，请到你的邮件服务商中查看。</p>
		<form action="./Core/install.php" method="post">
			<div class="mdui-textfield">
				<label class="mdui-textfield-label">SMTP 服务器</label>
				<input class="mdui-textfield-input" type="text" name="host" required/>
			</div>
			<div class="mdui-textfield">
				<label class="mdui-textfield-label">SMTP 用户名</label>
				<input class="mdui-textfield-input" type="text" name="username" required/>
			</div>
			<div class="mdui-textfield">
				<label class="mdui-textfield-label">SMTP 密码</label>
				<input class="mdui-textfield-input" type="text" name="password" required/>
			</div>
			<div class="mdui-textfield">
				<label class="mdui-textfield-label">SMTP 端口</label>
				<input class="mdui-textfield-input" type="number" name="port" required/>
			</div>
			<div class="mdui-textfield">
				<label class="mdui-textfield-label">加密连接类型</label>
				<select class="mdui-select" name="secure" style="width:100%;">
					<option value>无</option>
					<option value="ssl">SSL</option>
					<option value="tls">TLS</option>
				</select>
			</div>
			<input class="mdui-hidden" name="step" value="3" />
			<button class="mdui-btn mdui-color-theme-accent mdui-btn-raised mdui-m-t-2" type="submit">下一步</button>
    	</form>
	</div>


<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/vue.js"></script>
</body>
</html>