<!DOCTYPE html>
<html>
<head>
    <title>登录日志 - <?php echo $config['title'];?></title>
    <meta charset="utf-8" />
    <meta name="keywords" content="<?php echo $config['keywords'];?>" />
    <meta name="description" content="<?php echo $config['description'];?>" />
    <link rel="icon" href="<?php echo $config['favicon'];?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./assets/css/mdui.min.css"/>
    <link rel="stylesheet" href="./assets/css/style.css"/>
   	<link rel="stylesheet" href="./assets/css/mdclub.css"/>
</head>

<?php require "header.html";?>


<div class="mdui-container mdui-p-x-2">
	<div class="mdui-table-fluid" id="table">
      	<table class="mdui-table">
        	<thead>
          		<tr class="checked">
          			<th style="width:80px;">#</th>
            		<th style="width:160px;">登录时间</th>
            		<th style="width:200px;">登录IP</th>
            		<th style="width:300px;">登录地址</th>
          		</tr>
        	</thead>
        	<tbody class="mdui-typo">
         		<tr v-for="log in logs">
         			<td>{{log.id}}</td>
         			<td style="width:150px;">{{log.time}}</td>
                	<td style="width:200px;"><code>{{log.ip}}</code></td>
                	<td style="width:300px;">{{log.address}}</td>
          		</tr>
        	</tbody>
      	</table>
    </div>
</div>  

        
<?php require "footer.html";?>

<script src="./assets/js/vue.js"></script>
<script src="./assets/js/sweetalert.min.js"></script>
<script>
var table = new Vue({
	el: '#table',
	data: {
		logs: []
	},
	created (){
		fetch('./Data/api.php?type=getAllLoginLog')
			.then(response => response.json())
			.then(json => {
				this.logs = json.data;
			})
	}
});

$('.page').click(function(){
	var num = $(this).text();
	$(this).siblings('button').removeClass('mdui-btn-active');
	$(this).addClass('mdui-btn-active');
	fetch('./Data/api.php?type=getAccessInfo&num='+num)
		.then(response => response.json())
		.then(json => {
			table.logs = json.data;
		});
});

</script>
</body>
</html>